<table style="width:100%">
    <thead>
        <tr>
			<th></th>
            {% for key, option in data.options %}
            	<th>{{option}}</th>
			{% endfor %}
        </tr>
    </thead>
    <tbody>
		{% for key, stem in data.stems %}
			<tr>
	            <td><b>{{stem}}</b></td>
				
				{% for key, option in data.options %}
					{% if data.multiple_responses == true %}
						<td class="checkbox">
							<label>
								<input type="checkbox" name="question_answer[]" value="{{ option.value }}"{% if option.value in current_answer %} checked{% endif %}>
								{{ option.label }}
							</label>
						</td>
					{% else %}
						<td class="radio">
							<label>
								<input type="radio" name="question_answer" value="{{ option.value }}" required{% if current_answer == option.value %} checked{% endif %}>
								{{ option.label }}
							</label>
						</td>
					{% endif %}
				{% endfor %}
	        </tr>
		{% endfor %}
    </tbody>
</table>
