{% for key, option in data.options %}
	{% if data.multiple_responses == true %}
		<div class="checkbox">
			<label>
				<input type="checkbox" name="question_answer[]" value="{{ option.value }}"{% if option.value in current_answer %} checked{% endif %}>
				{{ option.label }}
			</label>
		</div>
	{% else %}
		<div class="radio">
			<label>
				<input type="radio" name="question_answer" value="{{ option.value }}" required{% if current_answer == option.value %} checked{% endif %}>
				{{ option.label }}
			</label>
		</div>
	{% endif %}
{% endfor %}
