{% include "header.html" %}

<div class="row">
	<div class="medium-6 medium-centered large-4 large-centered columns">
		<form>
			<div class="row column log-in-form">
				<h4 class="text-center">Log in with you email account</h4>
				
				<label>
					Email
					<input type="email" placeholder="somebody@example.com">
				</label>
				
				<label>
					Password
					<input type="password" placeholder="Password">
				</label>
				
				<p><a type="submit" class="button expanded">Log In</a></p>
				<p class="text-center"><a href="#">Forgot your password?</a></p>   
			</div>
		</form>
	</div>
</div>

{% include "footer.html" %}
