{% include "header.html" %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.11/css/dataTables.bootstrap.min.css" type="text/css" />

<div id="js-affix">
	<div class="top-buttons">
		<div class="container">
			<div class="pull-right">
				<a href="#" class="btn goodbutton">This button will do nothing!</a>
			</div>
		</div>
	</div>
</div>

<div class="container" id="js-affix-padding">
	<h2>{{title}}</h2>

<table id="js-students-table" class="table table-striped table-bordered">
	<thead>
		<tr>
		    <th style='width:44px;'></th>
			<th>Name</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
		{% for student in students %}
			<tr>
			    <td><img src="https://secure.gravatar.com/avatar/{{student.Email | md5}}?s=64" width="32" height="32" class="avatar"></td>
				<td>{{student.Name}}</td>
				<td>{{student.Email}}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

</div><!-- container -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.11/js/dataTables.bootstrap.min.js"></script>
<script>
(function()
{
	$('#js-affix').affix({
		offset:
		{
			top: $('#js-affix').offset().top
		}
	}).on('affix.bs.affix', function()
	{
		$('#js-affix-padding').css('padding-top', 20 + $(this).height());
	}).on("affix-top.bs.affix", function()
	{
		$('#js-affix-padding').css('padding-top', '');
	});
	
	var table = $('#js-students-table').DataTable({
		stripeClasses: [],
		bSort: false
	});
}());
</script>

{% include "footer.html" %}
