{% include "header.html" %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.11/css/dataTables.bootstrap.min.css" type="text/css" />

<div id="js-affix">
	<div class="top-buttons">
		<div class="container">
			<div class="pull-right">
				<a href="/tests/new" class="btn createnew" id="js-create-test"><i class="fa fa-plus-circle"></i>Create Test</a>
			</div>
			
			<button type="button" class="goodbutton" id="js-show-tags"><i class="fa fa-tags"></i> <span class="btn-text" data-other="Hide Tests Tags">Show Tests Tags</span></button>
			<button type="button" class="goodbutton goodbutton-clear" id="js-clear-search"><i class="fa fa-refresh"></i>Clear Search</button>
		</div>
	</div>
	
	<div class="top-tags" style="display:none">
		<div class="container">
		{% for tag, count in tags %}
			<span class="label label-default js-tag" data-tag="{{tag}}">
				{{tag}}
				<span class="badge">{{count}}</span>
			</span>
		{% endfor %}
		</div>
	</div>
</div>

<div class="container" id="js-affix-padding">
	<h2>{{title}}</h2>
<table id="js-questions-table" class="table table-striped table-bordered">
	<thead>
		<tr>
			<th style='width:54px;' class='text-center'>Assign</th>
			<th>Test</th>
			<th style='width:44px;' class="text-center">Size</th>
			<th style='width:44px;' class="text-center">Edit</th>
			<th style='width:44px;' class="text-center">Delete</th>
		</tr>
	</thead>
	<tbody>
		{% for test in tests %}
			<tr class="js-question">
				<td class='text-center a_assign'>
					<a href="/assignments/new/{{test.TestID}}"><i class="fa fa-arrow-circle-o-right"></i></a>
				</td>
				<td>
					{{test.Name}}
					
					{% if test.Tags is not empty %}
						<div class="tags">
							 <i class="fa fa-tags"></i>
							{% for tag in test.Tags %}
								<span class="label label-primary">{{tag}}</span>
							{% endfor %}
						</div>
					{% endif %}
				</td>
				<td style='text-align:center;' class='sizeq'>
					{% if test.Size == 0 %}
						<i class="fa fa-minus"></i>
					{% else %}
						{{test.Size}}
					{% endif %}
				</td>
				<td style='text-align:center;'><a href="/tests/edit/{{test.TestID}}"><i class="fa fa-pencil"></i></a></td>
				<td style='text-align:center;'><i class="fa fa-times js-delete-question"></i></td>
			</tr>
		{% endfor %}
	</tbody>
</table>

</div><!-- container -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.11/js/dataTables.bootstrap.min.js"></script>
<script>
(function()
{
	$('#js-affix').affix({
		offset:
		{
			top: $('#js-affix').offset().top
		}
	}).on('affix.bs.affix', function()
	{
		$('#js-affix-padding').css('padding-top', 20 + $(this).height());
	}).on("affix-top.bs.affix", function()
	{
		$('#js-affix-padding').css('padding-top', '');
	});
	
	var table = $('#js-questions-table').DataTable({
		stripeClasses: [],
		bSort: false
	});
	
	$('#js-questions-form').on('submit', function()
	{
		var questions = [];
		
		$('.js-question-select:checked', table.rows().nodes()).each(function()
		{
			questions.push($(this).val());
		});
		
		if(!questions.length) {
			alert("Please choose at least one question");
			return false;
		}
		
		$('#js-questions-ids').val(questions.join(","));
	});
	
	$('#js-show-tags').on('click', function()
	{
		$('.top-tags').slideToggle();
		
		var label = $(this).find('.btn-text'), current = label.text();
		label.text(label.data('other'));
		label.data('other', current);
		
		return false;
	});
	
	$('.js-tag').on('click', function()
	{
		table.search($(this).data('tag')).draw();
		
		return false;
	});
	
	$('#js-clear-search').on('click', function()
	{
		table.search('').draw();
		
		return false;
	});
	
	table.on('click', '.js-delete-question', function()
	{
		table
			.row($(this).closest('.js-question'))
			.remove()
			.draw();
		
		return false;
	});
	
	table.on('change', '.js-question-select', function()
	{
		$(this).closest('.js-question').toggleClass('question-selected', $(this).is(':checked'));
		
		return false;
	});
}());
</script>


{% include "footer.html" %}
