{% include "header.html" %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.6.8/dragula.css">

<form action="/tests/{% if test.TestID %}edit/{{test.TestID}}{% else %}new{% endif %}" enctype="multipart/form-data" method="POST" id="js-test-form">

<div id="js-affix">
	<div class="top-buttons">
		<div class="container">
			<div class="pull-right">
				{% if test.TestID %}
					<button type="submit" name="save" value="return" class="btn goodbutton"><i class="fa fa-floppy-o" style='margin-right:7px;'></i>Save</button>
					<button type="submit" name="save" value="assign" class="btn createnew"><i class="fa fa-arrow-circle-o-right" ></i>Save & Assign</button>
				{% else %}
					<button type="submit" name="save" value="return" class="btn createnew"><i class="fa fa-floppy-o" style='margin-right:7px;'></i>Create Test</button>
				{% endif %}
			</div>
			
			<button type="submit" name="save" value="add_questions" class="goodbutton js-add-questions"><i class="fa fa-plus-square-o"></i>Add Questions</button>
		</div>
	</div>
</div>

<div class='container betterlabel' id="js-affix-padding">
	<div class='row'>
		<div class='col-xs-12'>
			<h2>{{title}}</h2>
			
			<div class="form-group" style='margin-bottom:30px;'>
				<label for="js-input-name">Title</label><br><br>
				<input autofocus required type="text" class="form-control" id="js-input-name" placeholder="Enter your test name" name="name" value="{{test.Name}}">
			</div>
			<div class="form-group" style='margin-bottom:30px;'>
				<label for="js-upload-tags">Tags </label>
				<i class="fa fa-question-circle js-help" data-toggle="popover" data-placement="right" data-content="Enter your test tags using commas for separation"></i>
				<br><br>
				<input type="text" placeholder="Please enter your test tags using commas for separation" class="input" name="tags" id="js-upload-tags" value="{{test.Tags}}">
			</div>
		</div>
	</div>
</div>

<div class="container betterlabel">
	<label for="js-questions-table">Test Questions</label> 
	<i class="fa fa-question-circle js-help" data-toggle="popover" data-placement="right" data-content="You can move and order your questions using drag and drop"></i>

	
	<div class='dragon'>
		<div id="js-questions-table">
		{% for question in questions %}
			<div class="row js-question">
				<input type="hidden" name="questions[]" value="{{question.QuestionID}}">
				<div class='col-xs-1 nopp'>
					<span class="js-question-number">{{ loop.index }}</span>
				</div>
				<div class='col-xs-10'>
					{{question.Stimulus | raw}}
				</div>
				<div class='col-xs-1 nopp text-right'>
					<i class="fa fa-times js-delete-question"></i>
				</div>
			</div>
		{% endfor %}
		</div>
		{% if questions is empty %}
			<div class="alert alert-warning text-center">
				This test has no questions. Click <b>Add questions</b> button to add questions to this test.
			</div>
		{% endif %}
		<div class='row'>
			<div class='col-xs-12 text-center'>
				<button type="submit" name="save" value="add_questions" class="goodbutton blag js-add-questions"><i class="fa fa-plus-square-o"></i>Add Questions</button>
			</div>
		</div>
	</div>
</div>

</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.6.8/dragula.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
<script>
(function()
{
	$('#js-affix').affix({
		offset:
		{
			top: $('#js-affix').offset().top
		}
	}).on('affix.bs.affix', function()
	{
		$('#js-affix-padding').css('padding-top', 20 + $(this).height());
	}).on("affix-top.bs.affix", function()
	{
		$('#js-affix-padding').css('padding-top', '');
	});
	
	dragula([document.getElementById('js-questions-table')],
	{
		direction: 'horizontal',
	}).on('drop', function()
	{
		var i = 1;
		
		$('.js-question-number').each(function()
		{
			$(this).text(i++);	
		});
	});
	
	$('.js-help').popover({trigger: 'hover'});
	
	$('#js-questions-table').on('click', '.js-delete-question', function()
	{
		$(this).closest('.js-question').remove();
		
		return false;
	});
	
	$('#js-upload-tags').tagsInput({
		width: 'auto'
	});
	
	$('.js-add-questions').on('click', function()
	{
		if(!$('#js-input-name').val().length)
		{
			$('#js-input-name').val('Untitled Test');
		}
		
		$('#js-test-form').attr('action', '/questions{% if test.TestID %}/add/{{test.TestID}}{% endif %}');
	});
}());
</script>
{% include "footer.html" %}
